
body{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
header,footer{
    background-color:  rosybrown;
    position: sticky;
    width: 100%;
}
header{
    height: 150px;
    top: 0;
}
footer{
    height: 100px;
    bottom: 0;}

    .login{
        position: relative;
        left: 95%;
        bottom: 70%;
        box-sizing: border-box;
        font-size: 25px;
        font-style: oblique;
        
    }
.booknow{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    left: 10vh;
    background-color: rgb(55, 6, 251);
    color: white ;
}
    
.contact{
    position: relative;
    left: 0;
    font-size: 20px;
    margin: 50px;

}

.form{
    position: absolute;
    right: 0;
    margin: 50px;
}
.copyright{
    position: absolute;
    right: 50%;
    bottom: 50%;}